lib
target
classes
.svn
.svnignore
.cvsignore
*.*~
*.xlr
*.zip
*.fbp
htdocs/bugdescriptions.html
samples/*.class
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
javadoc
version.properties
.~lock.yank.*
/classes
user.properties
.idea/
*.iml
